*{margin:0 ; padding:0;}

.heading{
  margin:50px 0px;
  text-align: center;
  color: #9b2d73;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat Subrayada', sans-serif;
}
.img_div{
  text-align: center;

}

